.item-notice {
    font-size: larger;
    font-weight: bolder;
    align-content: center;
    padding: 5px;
    color: aliceblue;
    background-color: sandybrown;
}

.item-content {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
}

.content-left {
    width: 50%;
    margin: 100px auto;
}

.content-image {
    display: block;
    margin: 0px auto;
    width: 300px;
    height: 300px;
    border-radius: 5px;
}

.content-right {
    width: 50%;
    margin: 50px auto;
}

.form {
    width: 100%;
}

.content-group {
    margin-bottom: 50px;
}


.content-text span {
    font-size: x-large;
    font-weight: bold;
}

.content-button {
    display: block;
    width: 70%;
    height: 40px;
    text-align: center;
    font-size: large;
    font-weight: bold;
    background-color: tomato;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.content-button a {
    display: block;
    text-decoration: none;
    color: whitesmoke;
}


.content-button__disabled {
    display: block;
    width: 70%;
    height: 40px;
    text-align: center;
    font-size: large;
    font-weight: bold;
    background-color: gainsboro;
    border: none;
    border-radius: 5px;
    color: white;
}


.content-button__like {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-right: 10px;
    align-content: center;
    border: none;
    background-color: white;
    background: url(../images/マイリストアイコン_白.svg) no-repeat;
    background-size: cover;
}

.content-button__dislike {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-right: 10px;
    align-content: center;
    border: none;
    background-color: white;
    background: url(../images/マイリストアイコン_黒.svg) no-repeat;
    background-size: cover;
}

.content-button__comment {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-left: 10px;
    background: url(../images/コメントアイコン.svg) no-repeat;
    background-size: cover;
}



.content-infomation {
    width: 70%;
    margin-bottom: 20px;
}

.content-label {
    display: inline-block;
    font-weight: bolder;
    margin-right: 40px;
    margin-bottom: 10px;
}

.category-output span {
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 10px;
    font-size: small;
    font-weight: bold;
    width: 100px;
    height: 20px;
    border: 1px, solid;
    border-radius: 15px;
    color: snow;
    background-color: slategray;
    align-content: center;
    text-align: center;
}


.content-category {
    display: inline-block;
    width: auto;
    height: 20px;
    margin-right: 10px;
    align-content: center;
    text-align: center;
    padding: 5px;
    border: solid, 1px;
    border-radius: 20px;
    background-color: grey;
    color: white;
}

.content-comment {
    width: 70%;
    padding: 5px;
    margin-bottom: 5px;
    box-sizing: border-box;
}

.comment-user img {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px, solid;
    border-radius: 100%;
}

.comment-user span {
    display: inline-block;
    align-content: center;
    margin-left: 10px;
    font-weight: bolder;
}

.comment-text {
    font-size: x-small;
    margin-left: 20px;
}


.content-comment__input {
    display: block;
    width: 70%;
    padding: 2px;
    border-radius: 5px;
    box-sizing: border-box;
}

.content-error {
    color: red;
}


.content-button {
    display: block;
    width: 70%;
    height: 40px;
    margin-top: 20px;
    text-align: center;
    align-content: center;
    font-size: large;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    color: whitesmoke;
    background-color: tomato;
    cursor: pointer;
}


@media screen and (max-width: 768px) {

    .item-content {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 0 auto;
    }

    .content-image {
        display: block;
        margin: 0px auto;
        width: 200px;
        height: 200px;
        border-radius: 5px;
    }

    .content-button {
        display: block;
        width: 90%;
        height: 40px;
        text-align: center;
        font-size: large;
        font-weight: bold;
        background-color: tomato;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .content-button a {
        display: block;
        text-decoration: none;
        color: whitesmoke;
    }


    .content-button__disabled {
        display: block;
        width: 90%;
        height: 40px;
        text-align: center;
        font-size: large;
        font-weight: bold;
        background-color: gainsboro;
        border: none;
        border-radius: 5px;
        color: white;
    }


    .content-button__like {
        display: inline-block;
        width: 30px;
        height: 30px;
        margin-top: 10px;
        margin-right: 10px;
        align-content: center;
        border: none;
        background-color: white;
        background: url(../images/マイリストアイコン_白.svg) no-repeat;
        background-size: cover;
    }

    .content-button__dislike {
        display: inline-block;
        width: 30px;
        height: 30px;
        margin-top: 10px;
        margin-right: 10px;
        align-content: center;
        border: none;
        background-color: white;
        background: url(../images/マイリストアイコン_黒.svg) no-repeat;
        background-size: cover;
    }

    .content-button__comment {
        display: inline-block;
        width: 30px;
        height: 30px;
        margin-top: 10px;
        margin-left: 10px;
        background: url(../images/コメントアイコン.svg) no-repeat;
        background-size: cover;
    }

    .content-comment {
        width: 90%;
        box-sizing: border-box;
    }

    .content-comment__input {
        display: block;
        width: 90%;
        padding: 5px;
        border-radius: 5px;
        box-sizing: border-box;
    }


}