.login-form {
    width: 30%;
    margin: 0px auto;
}

.form-title {
    text-align: center;
    margin-top: 100px;
}

.form-group {
    margin-bottom: 30px;
}

.form-label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

.form-input {
    display: block;
    width: 100%;
    height: 30px;
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-button {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 30px;
    text-align: center;
    background-color: tomato;
    border: none;
    border-radius: 5px;
    color: snow;
    margin-top: 100px;
    cursor: pointer;
}

.form-link {
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
}

.form-error {
    color: red;
}


@media screen and (max-width: 768px) {

    .login-form {
        width: 60%;
        margin: 0px auto;
    }

    .form-title {
        text-align: center;
        margin-top: 100px;
    }

    .form-group {
        margin-bottom: 30px;
    }

    .form-label {
        display: block;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .form-input {
        display: block;
        width: 100%;
        height: 30px;
        padding: 10px;
        border-radius: 5px;
        box-sizing: border-box;
    }

    .form-button {
        display: block;
        margin: 0 auto;
        width: 100%;
        height: 30px;
        text-align: center;
        background-color: tomato;
        border: none;
        border-radius: 5px;
        color: snow;
        margin-top: 100px;
        cursor: pointer;
    }

    .form-link {
        display: block;
        margin: 0 auto;
        text-align: center;
        margin-top: 20px;
        cursor: pointer;
    }

    .form-error {
        color: red;
    }

}